<!DOCTYPE html>

<head>
    <title>Products</title>
    <link rel="stylesheet" href="../static/css/product.css" />

</head>

<body>
    <div class="product">
        <a
            href="https://www.amazon.com/Buffalo-David-Bitton-Skinny-Indigo/dp/B071KH7HNR/ref=sr_1_1?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-1"><img
                src=" ../static/images/pant/pant1.jpg" /></a><br>

        <div class="value">
            <p><span><b>Buffalo David Bitton Men's Max-x Skinny Fit Denim
                        Pant</b></span><br><span><b>Price</b>:$50-$180</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Goodthreads-Mens-Skinny-Fit-Selvedge-Black/dp/B07F19XHYN/ref=sr_1_2?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-2"><img
                src="../static/images/pant/pant2.jpg" /></a><br>

        <div class="value">
            <p><span><b>Amazon Brand - Goodthreads Men's Skinny-Fit Selvedge
                        Jean</b></span><br><span><b>Price</b>:$11-$50</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Victorious-Skinny-Color-Stretch-Jeans/dp/B011ARC5LI/ref=sr_1_3?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-3"><img
                src="../static/images/pant/pant3.jpg" /></a><br>

        <div class="value">
            <p><span><b>Victorious Men's Skinny Fit Color Stretch Jeans
                        Pants</b></span><br><span><b>Price</b>:$18-$36</span>
            </p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Victorious-Distressed-Skinny-Biker-DL1225/dp/B084Q2M1BB/ref=sr_1_78?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-78">
            <img src="../static/images/pant/pant4.jpg" /></a><br>

        <div class="value">
            <p><span><b>Victorious Ribbed Thigh Layered Knee Slim Fit Moto Style
                        Jeans</b></span><br><span><b>Price</b>:$32-$37</span>
            </p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Demon-hunter-Skinny-Jeans-DH8038/dp/B00T621M8C/ref=sr_1_9?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-9"><img
                src="../static/images/pant/pant5.jpg" /></a><br>

        <div class="value">
            <p><span><b>Demon&Hunter 808 Youth Series Men's Skinny Slim
                        Jeans</b></span><br><span><b>Price</b>:$29-$34</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Goodthreads-Skinny-Fit-5-Pocket-Chino-Denim/dp/B07NBBDNGZ/ref=sr_1_11?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-11"><img
                src="../static/images/pant/pant6.jpg" /></a><br>

        <div class="value">
            <p><span><b>Amazon Brand - Goodthreads Men's Skinny-Fit
                        5-Pocket</b></span><br><span><b>Price</b>$5-$30</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Banana-Republic-Mens-Techmotion-Skinny/dp/B07GZ39Q6P/ref=sr_1_17?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-17"><img
                src="../static/images/pant/pant7.jpg" /></a><br>

        <div class="value">
            <p><span><b>BANANA REPUBLIC Men's Techmotion Skinny Dark Wash
                        Jean</b></span><br><span><b>Price</b>$99-$100</span>
            </p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/One-Green-Elephant-Skinny-Indigo/dp/B00CO30IKS/ref=sr_1_31?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-31"><img
                src="../static/images/pant/pant8.jpg" /></a><br>

        <div class="value">
            <p><span><b>One Green Elephant Men's Chico Skinny Jeans</b></span><br><span><b>Price</b>:$35-$40</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/REYO-Stretch-Skinny-Destroyed-Leisure/dp/B08BRPDK7F/ref=sr_1_42?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-42"><img
                src="../static/images/pant/pant9.jpg" /></a><br>

        <div class="value">
            <p><span><b>REYO Men's Jeans Pants Slim Fit Stretch Chino Pants Jeans Skinny Destroyed Jeans Denim Leisure
                        Pants</b></span><br><span><b>Price</b>:$100-$200</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/terbklf-Skinny-Stretch-Distressed-Trousers/dp/B0888RX1G8/ref=sr_1_58?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-58"><img
                src="../static/images/pant/pant10.jpg" /></a><br>

        <div class="value">
            <p><span><b>Mens Skinny Stretch Denim Pants Distressed Ripped Freyed Slim Fit Jeans
                        Trousers</b></span><br><span><b>Price</b>:$90-$150</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Demon-hunter-Skinny-Stretch-Pencil/dp/B01CWX8EBY/ref=sr_1_77?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-77"><img
                src="../static/images/pant/pant11.jpg" /></a><br>

        <div class="value">
            <p><span><b>Demon&Hunter Men's Blue Skinny Stretch Jeans Slim Fit Pencil Pants
                        S8L08</b></span><br><span><b>Price</b>$25-$34</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Goodthreads-Mens-Skinny-Fit-Jean-Light/dp/B078C67693/ref=sr_1_4?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-4">
            <img src="../static/images/pant/pant12.jpg" /></a><br>

        <div class="value">
            <p><span><b>Goodthreads Men's Skinny-fit Comfort Stretch Jean</b></span><br><span><b>Price</b>$8-$40</span>
            </p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Buffalo-David-Bitton-Whiskered-Sandblasted/dp/B07SZG2PDR/ref=sr_1_93?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603039724&refinements=p_28%3ASkinny&s=apparel&sr=1-93"><img
                src="../static/images/pant/pant13.jpg" /></a><br>

        <div class="value">
            <p><span><b>Buffalo David Bitton Men's Max-x, Super Skinny Whiskered and Sandblasted
                        Denim</b></span><br><span><b>Price</b>:$19-$74</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Buffalo-David-Bitton-Straight-Authentic/dp/B07N47PHGZ/ref=sr_1_157?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603041728&refinements=p_28%3AStraight&s=apparel&sr=1-157"><img
                src="../static/images/pant/pant14.jpg" /></a><br>

        <div class="value">
            <p><span><b>Amazon Brand - find. Men's Straight Jeans</b></span><br><span><b>Price</b>:$27-$79</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Buffalo-David-Bitton-Straight-Contrast/dp/B01BE998LW/ref=sr_1_10?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603038608&refinements=p_28%3AStraight&s=apparel&sr=1-10"><img
                src="../static/images/pant/pant15.jpg" /></a><br>

        <div class="value">
            <p><span><b>Buffalo David Bitton Men's Driven Straight Leg
                        Jean</b></span><br><span><b>Price</b>:$43-$168</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Victorious-Distressed-Skinny-Biker-DL1225/dp/B084Q2M1BB/ref=sr_1_78?dchild=1&pf_rd_i=1045564&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=1f9e8dae-9e15-456d-a37c-0de2cbdb09a1&pf_rd_r=W1E7VX3CQRWE951Z234H&pf_rd_s=merchandised-search-2&pf_rd_t=101&qid=1603040580&refinements=p_28%3ASkinny&s=apparel&sr=1-78"><img
                src="../static/images/pant/pant16.jpg" /></a><br>

        <div class="value">
            <p><span><b>Victorious Ribbed Thigh Layered Knee Slim Fit Moto Style
                        Jeans</b></span><br><span><b>Price</b>:$32-$37</span></p>
        </div>
    </div>
</body>

</html>