<!DOCTYPE html>

<head>
    <title>Products</title>
    <link rel="stylesheet" href="../static/css/product.css" />

</head>

<body>
    <div class="product">
        <a href="https://www.adidas.com/us/zx-2k-boost-shoes/FX8834.html"><img
                src=" ../static/images/shoe/shoe1.jpg" /></a><br>

        <div class="value">
            <p><span><b>Adidas ZX 2K BOOST SHOES(WHITE)</b></span><br><span><b>Price</b>:$150</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/zx-2k-boost-shoes/FZ0994.html"><img
                src="../static/images/shoe/shoe2.jpg" /></a><br>

        <div class="value">
            <p><span><b>Adidas ZX 2K BOOST SHOES(RED)</b></span><br><span><b>Price</b>:$150</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/zx-2k-4d-shoes/FW2003.html"><img
                src="../static/images/shoe/shoe3.jpg" /></a><br>

        <div class="value">
            <p><span><b>Adidas ZX 2K 4D SHOES(MIXED)</b></span><br><span><b>Price</b>:$200</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/zx-1000-retro-shoes/FW1485.html"><img
                src="../static/images/shoe/shoe4.jpg" /></a><br>

        <div class="value">
            <p><span><b>Adidas ZX 1000 RETRO SHOES</b></span><br><span><b>Price</b>:$100</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/x9000l3-shoes/EH0051.html"><img
                src="../static/images/shoe/shoe5.jpg" /></a><br>

        <div class="value">
            <p><span><b>Adidas ZX 1000 RETRO </b></span><br><span><b>Price</b>:$100</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/x9000l3-shoes/EH0051.html"><img
                src="../static/images/shoe/shoe6.jpg" /></a><br>

        <div class="value">
            <p><span><b>Adidas X9000L3 SHOES</b></span><br><span><b>Price</b>:$120</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/x9000l4-shoes/FW8407.html"><img
                src="../static/images/shoe/shoe7.jpg" /></a><br>

        <div class="value">
            <p><span><b>Adidas X9000L4 SHOES</b></span><br><span><b>Price</b>:$150</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/ultraboost-20-glam-pack-shoes/FW5720.html"><img
                src="../static/images/shoe/shoe8.jpg" /></a><br>

        <div class="value">
            <p><span><b>Adidas ULTRABOOST </b></span><br><span><b>Price</b>:$180</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/adidas-by-stella-mccartney-ultraboost-20-shoe/FU8975.html"><img
                src="../static/images/shoe/shoe9.jpg" /></a><br>

        <div class="value">
            <p><span><b>ADIDAS BY STELLA</b></span><br><span><b>Price</b>:$230</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.adidas.com/us/response-super-shoes/FX4833.html"><img
                src="../static/images/shoe/shoe10.jpg" /></a><br>

        <div class="value">
            <p><span><b>ADIDAS RESPONSE </b></span><br><span><b>Price</b>:$90</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://us.puma.com/en/us/pd/calibrate-runner-mens-shoes/194502.html?dwvar_194502_color=01"><img
                src="../static/images/shoe/shoe11.jpg" /></a><br>

        <div class="value">
            <p><span><b>Puma Calibrate Runner </b></span><br><span><b>Price</b>:$140</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://us.puma.com/en/us/pd/speed-600-2-mens-running-shoes/193102.html?dwvar_193102_color=05"><img
                src="../static/images/shoe/shoe12.jpg" /></a><br>

        <div class="value">
            <p><span><b>PUMA SPEED 600 2 </b></span><br><span><b>Price</b>:$130</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.nike.com/t/air-zoom-pegasus-37-mens-running-shoe-extra-wide-KLvDcj/BQ9646-400"><img
                src="../static/images/shoe/shoe13.jpg" /></a><br>

        <div class="value">
            <p><span><b>Nike Air Zoom Pegasus 37 Infinite</b></span><br><span><b>Price</b>:$120</span></p>
        </div>
    </div>

    <div class="product">
        <a href="nike.com/t/zoom-pegasus-37-usc-running-shoe-9x2hNv/CZ5396-100"><img
                src="../static/images/shoe/shoe14.jpg" /></a><br>

        <div class="value">
            <p><span><b>Nike College Zoom Pegasus 37 (USC)</b></span><br><span><b>Price</b>:$130</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.nike.com/t/zoom-pegasus-turbo-2-mens-running-shoe-GcDSX3/AT2863-100"><img
                src="../static/images/shoe/shoe15.jpg" /></a><br>

        <div class="value">
            <p><span><b>Nike Zoom Pegasus Turbo 2</b></span><br><span><b>Price</b>:$180</span></p>
        </div>
    </div>

    <div class="product">
        <a href="https://www.nike.com/t/pegasus-trail-2-mens-trail-running-shoe-JKj6Bj/CK4305-700"><img
                src="../static/images/shoe/shoe16.jpg" /></a><br>

        <div class="value">
            <p><span><b>Nike Pegasus Trail 2 (GREEN)</b></span><br><span><b>Price</b>:$130</span></p>
        </div>
    </div>
</body>

</html>