<!DOCTYPE html>

<head>
    <title>Products</title>
    <link rel="stylesheet" href="../static/css/product.css" />

</head>

<body>
    <div class="product">
        <a
            href="https://www.amazon.com/Gildan-Mens-Softstyle-Ringspun-T-shirt/dp/B00A6JEKO2/ref=sr_1_6?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-6"><img
                src=" ../static/images/tshirt/tshirt1.jpg" /></a><br>

        <div class="value">
            <p><span><b>Gildan Mens Short Sleeve Soft-Style T-Shirt</b></span><br><span><b>Price</b>:$3-$32</span>
            </p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Champion-Classic-T-Shirt-Oatmeal-Heather/dp/B073R2D4CJ/ref=sr_1_10?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-10"><img
                src="../static/images/tshirt/tshirt2.jpg" /></a><br>

        <div class="value">
            <p><span><b>Champion Men's Classic Jersey T-shirt</b></span><br><span><b>Price</b>:$8-$22</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Amazon-Essentials-Standard-Slim-Fit-T-Shirt/dp/B07HJGF6Z6/ref=sxin_25_pb?cv_ct_cx=t-shirts&dchild=1&keywords=t-shirts&pd_rd_i=B07HJGF6Z6&pd_rd_r=85dd0344-aa22-4c31-869c-f5524e9875f5&pd_rd_w=5Ca4e&pd_rd_wg=dt3kU&pf_rd_p=ffb450f7-bfad-4e7e-95e8-f2bd147e99a4&pf_rd_r=KNTXYN25MEBHC94KSYN9&qid=1603341416&sr=1-1-8065ff8c-2587-4a7f-b8da-1df8b2563c11"><img
                src="../static/images/tshirt/tshirt3.jpg" /></a><br>

        <div class="value">
            <p><span><b>Men's Slim-Fit Slub Raglan Crew T-Shirt Shirt</b></span><br><span><b>Price</b>:$4-$10</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Comfort-Colors-Sleeve-1717-X-Large/dp/B07M8YF6WZ/ref=sr_1_29?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-29"><img
                src="../static/images/tshirt/tshirt4.jpg" /></a><br>

        <div class="value">
            <p><span><b>Comfort Colors Men's Adult Short Sleeve Tee, Style
                        1717</b></span><br><span><b>Price</b>:$7-$23</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Goodthreads-Short-Sleeve-Crewneck-T-Shirt-Heather/dp/B078LF1MG5/ref=sr_1_40?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-40"><img
                src="../static/images/tshirt/tshirt5.jpg" /></a><br>

        <div class="value">
            <p><span><b>The Perfect Crewneck T-Shirt" Short-Sleeve</b></span><br><span><b>Price</b>:$5-$12</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Goodthreads-Perfect-V-Neck-T-Shirt-Short-Sleeve/dp/B06XWP72BS/ref=sr_1_49?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-49"><img
                src="../static/images/tshirt/tshirt6.jpg" /></a><br>

        <div class="value">
            <p><span><b>Perfect V-Neck T-Shirt" Short-Sleeve Cotton</b></span><br><span><b>Price</b>:$4-$12</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Champion-Classic-Jersey-Sleeve-T-Shirt/dp/B071GWD5QJ/ref=sr_1_56?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-56"><img
                src="../static/images/tshirt/tshirt7.jpg" /></a><br>

        <div class="value">
            <p><span><b>Champion Classic Jersey Long Sleeve T-Shirt</b></span><br><span><b>Price</b>:$11-$35</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Hanes-Short-Sleeve-Beefy-T-X-Large/dp/B00JUM8W7C/ref=sr_1_61?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-61"><img
                src="../static/images/tshirt/tshirt8.jpg" /></a><br>

        <div class="value">
            <p><span><b>Hanes Men's Size Tall Short-Sleeve Beefy T-Shirt</b></span><br><span><b>Price</b>:$9-$35</span>
            </p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Hanes-BEEFY-T-Long-Sleeve-T-Shirt-Black/dp/B0009GCQGQ/ref=sr_1_62?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-62"><img
                src="../static/images/tshirt/tshirt9.jpg" /></a><br>

        <div class="value">
            <p><span><b>Hanes Long Sleeve Beefy-T T-Shirts</b></span><br><span><b>Price</b>:$8-$24</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Hanes-X-Temp-Raglan-Baseball-Medium/dp/B06WVFH3ML/ref=sr_1_67?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-67"><img
                src="../static/images/tshirt/tshirt10.jpg" /></a><br>

        <div class="value">
            <p><span><b>Hanes Men's X-Temp Raglan Baseball Tee</b></span><br><span><b>Price</b>:$7-$18</span></p>
        </div>
    </div>

    <div class="product">
        <a
            href="https://www.amazon.com/Hanes-Sleeve-X-Temp-FreshIQ-X-Large/dp/B06W5JQNLP/ref=sr_1_70?dchild=1&keywords=t-shirts&qid=1603341416&sr=8-70"><img
                src="../static/images/tshirt/tshirt11.jpg" /></a><br>

        <div class="value">
            <p><span><b>Hanes Men's Short Sleeve X-Temp Polo with FreshIQ</b></span><br><span><b>Price</b>:$8-$21</span>
            </p>
        </div>
    </div>

    <div class="product">
        <a href="https://us.puma.com/en/us/pd/speed-600-2-mens-running-tshirts/193102.html?dwvar_193102_color=05"><img
                src="../static/images/tshirt/tshirt12.jpg" /></a><br>

        <div class="value">
            <p><span><b>Calvin Klein Men's Ultra Soft Modal V Neck
                        T-Shirts</b></span><br><span><b>Price</b>:$23-$34</span></p>
        </div>
    </div>
    </div>
</body>

</html>